{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/line-login.css" />
<script src="static/js/clock.js"></script>
<div class="container" style="text-align:center;">
<div id="clock_frame">
    <font size="10" face="impact">
        <span id="clock_date_time"></span>
    </font>
    </div>
    {% if picture_url %}
    <img src= "{{picture_url}}" class="profile-img img-circle" />
    {% endif %}
    <h3>Hello {{name}}, This is a sample of LINE Login.  hogehoge</h3>
</div>

<div class="container">
    <div class="row">
        <div>
            <div class="area" style="text-align:center;">
                {% if logged_in == False%}
                <h4 class="text-center area-margin">LINE Web Login</h4>
                <div id="web-login-button" class="center-block area-margin">
                    <a class="center-block" href=login></a>
                </div>
                {% else %}
                <h4 class="text-center area-margin">You have logged in!</h4>
                <div>
                    <a href="logout" style="font-size:large;">Logout</a>
                </div>
                {% endif %}
            </div>
            <h3 class="text-center area-margin">Previous Login Parameter</h3>
            <div class="area", style="text-align:left;">
                {% for p in data.keys() %}
                {{ p }} : <code>{{ data[p] }}</code>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}