{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/line-login.css" />
<script src="static/js/clock.js"></script>
<div class="container" style="text-align:center;">
    <h3>Hello, This is a sample of LINE Login. </h3>
    <div id="clock_frame">
		<font size="10" face="impact">
        	<span id="clock_date_time"></span>
        </font>
    	</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="area">
                    <h4 class="text-center area-margin">LINE Web Login</h4>
                    <div id="web-login-button" class="center-block area-margin">
                        <a class="center-block" href=gotoauthpage></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}